# InjectX AI

In [3]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [5]:
path=r"Data\datasetUSB.csv"

dataset=pd.read_csv(path)

dataset.head(5)

,Timestamp,Key,Interval_ms,Chars_per_Second,Error_Count,is_human
0,28/10/2024 18:46,[CMD (WINDOWS)],0,0,0,0
1,28/10/2024 18:46,r,1,1000,0,0
2,28/10/2024 18:46,p,"407,3","2,46",0,0
3,28/10/2024 18:46,o,17,"58,82",0,0
4,28/10/2024 18:46,w,15,"66,67",0,0

In [6]:
dataset.tail(5)

,Timestamp,Key,Interval_ms,Chars_per_Second,Error_Count,is_human
1095,28/10/2024 18:52,[BACKSPACE],"146,15","6,84",22,1
1096,28/10/2024 18:52,[BACKSPACE],141,"7,09",23,1
1097,28/10/2024 18:52,[BACKSPACE],"141,09","7,09",24,1
1098,28/10/2024 18:52,",","228,54","4,38",24,1
1099,28/10/2024 18:52,[SPACE],"113,5","8,81",24,1

In [11]:
dataset.shape

(1100, 6)

In [12]:
dataset['is_human'].value_counts()

is_human
1    600
0    500
Name: count, dtype: int64